@import "tailwindcss";

.authContainer {
  @apply w-screen h-screen p-4 flex flex-col items-center justify-center gap-8;
}
.formContainer {
  @apply flex flex-col gap-4 items-center w-3xs;
}
.button {
  @apply flex items-center rounded-lg font-bold cursor-pointer hover:opacity-60 transition-opacity text-xs sm:text-base
}

th{
  text-align: start;
  border: none;
  padding-left: 10px;
  cursor: default;

  @apply text-xs sm:text-base;
}
td{
  cursor: default;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word; /* Перенос длинных слов */
  overflow-wrap: break-word; 
  @apply text-xs sm:text-base;
  @apply max-w-32 sm:max-w-72;
}
